GELBOORU_API_KEY=your_gelbooru_api_key
GELBOORU_USER_ID=your_gelbooru_id
UPDATE_INTERVAL_MINUTES=10
BASE_URL=localhost
PORT=24454
# DATABASE_URL=sqlite://./data/gelrss.db
# GELBOORU_FETCH_LIMIT=20
# ARTIST_CACHE_SIZE=200
